.html,
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.mosaic-container{
    border: 4px solid #D2AB99;
    display: grid;
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}
.mosaic-element{
    border: 2px solid #56876D;
    background: #8DB38B;
}
